* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	font-family: "Inter", sans-serif;
}
img {
	max-width: 100%;
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}

.wraper {
	padding: 0 120px;
}

.flex-box {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav-btn {
	width: 15%;
	display: flex;
	justify-content: right;
}

.btn {
	background-color: #30b868;
	border-radius: 4px;
	padding: 12px 16px;
	font-style: Semi Bold;
	font-size: 16px;
	font-weight: 600;
	line-height: 19px;
	letter-spacing: 0%;
	text-align: center;
	color: rgba(255, 255, 255, 1);
	border: 2px solid transparent;
}
.btn:hover {
	background-color: white;
	color: #30b868;
	border: 2px solid #30b868;
}

.logo {
	width: 139px;
}
.navbar {
	padding: 16px 120px;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav-item ul {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 32px;
}

.nav-link {
	color: black;
}

.nav-item li:hover .nav-link {
	color: #30b868;
}

.hero {
	background-image: linear-gradient(#001931cc),
		url("./assets/images/heroImage.jpg");
	padding: 70px 134px 120px;
	text-align: center;
	background-repeat: no-repeat;
	background-position: top;
	background-size: cover;

	color: rgba(255, 255, 255, 1);
}

.hero-container {
	display: flex;
	flex-direction: column;
	gap: 16;
}

.tooltip {
	padding: 8px 12px;
	background-color: rgba(255, 255, 255, 1);
	width: max-content;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 5px;
	margin: 0 auto;
	border-radius: 1000px;
	color: rgba(70, 145, 101, 1);
	font-style: Medium;
	font-size: 16px;
	font-weight: 500;
	line-height: 19px;
	letter-spacing: 0%;
	margin-bottom: 20px;
}

.hero-hading {
	color: white;
	font-style: Bold;
	font-size: 72px;
	font-weight: 700;
	line-height: 84px;
	letter-spacing: 0%;
	text-align: center;
	text-transform: capitalize;
	margin-bottom: 10px;
}

.hero-hading span {
	color: #30b868;
	display: block;
}
.hero-hading p {
	font-style: Regular;
	font-size: 18px;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0%;
	text-align: center;
}

.hero-btn {
	display: flex;
	justify-content: center;
	gap: 16px;
	margin-top: 20px;
}

.hero-btn-item-1 {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

.hero-btn-item-2 {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	background-color: transparent;
	border: 2px solid rgba(255, 255, 255, 1);
}
.hero-btn-item-1 img,
.hero-btn-item-2 img {
	width: 20px;
	height: 20px;
}

.hero-btn-item-2:hover img {
	background-color: #30b868;
	padding: 2px;
	border-radius: 100%;
}

.hero-btn-item-1:hover img {
	background-color: #30b868;
	padding: 2px;
	border-radius: 100%;
}

.bac-cst {
	background-color: #fbfbfb;
	padding-bottom: 50px;
}

.about {
	flex-direction: column;
}

.about-box-1 {
	margin-top: 50px;
	margin-bottom: 50px;
	text-align: center;
}

.about-box-1 h1 {
	margin-bottom: 10px;
	color: #001931;
	font-style: Bold;
	font-size: 48px;
	font-weight: 700;
	line-height: 58px;
	letter-spacing: 0%;
	text-align: center;
	text-transform: capitalize;
}

.about-box-1 p {
	color: #627382;
	font-style: normal;
	font-size: 16px;
	font-weight: 400;
	line-height: 20px;
	letter-spacing: 0%;
	text-align: center;
}

.about-box-2 {
	width: 100%;
}

.card-container {
	gap: 24px;
}

.card {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 50px 24px;
	text-align: center;
	gap: 16px;
	border-radius: 8px;
	box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
	background: rgba(255, 255, 255, 1);
}

.card h2 {
	color: #001931;
	font-size: 24px;
	font-weight: 600;
	line-height: 29px;
	letter-spacing: 0%;
	text-align: center;
	text-transform: capitalize;
}

.about-ico img {
	padding: 10px;
	background: rgba(249, 85, 85, 1);
	border-radius: 100%;
}

.card p {
	color: #627382;
	font-size: 16px;
	font-weight: 400;
	line-height: 20px;
	letter-spacing: 0%;
	text-align: center;
}

.brain-contaner {
	padding: 100px 0;
	width: 100%;
}

.brain-part-1 {
	flex-basis: 40%;
	width: 40%;
}

.brain-part-1 img {
	display: block;
	width: 100%;
}
.brain-part-2 {
	flex-basis: 60%;
	width: 60%;
}

.brain-part-2 {
	display: flex;
	padding-left: 120px;
	flex-direction: column;
	gap: 40px;
}

.brain-part-2 span {
	color: #30b868;

	font-style: Medium;
	font-size: 16px;
	font-weight: 500;
	line-height: 20px;
	letter-spacing: 0%;
	text-align: left;
	text-transform: uppercase;
}

.brain-part-2 h2 {
	color: #001931;

	font-style: Bold;
	font-size: 48px;
	font-weight: 700;
	line-height: 58px;
	letter-spacing: 0%;
	text-align: left;
	text-transform: capitalize;
}

.brain-part-2 p {
	color: #627382;

	font-size: 16px;
	font-weight: 400;
	line-height: 20px;
	letter-spacing: 0%;
	text-align: left;
}

.flex-li {
	display: flex;
	justify-content: left;
	align-items: center;
	gap: 8px;
	color: var(--Style, rgba(0, 25, 49, 1));
	font-style: Medium;
	font-size: 16px;
	font-weight: 500;
	line-height: 20px;
	letter-spacing: 0%;
	text-align: left;
}

.list-note {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.thanks {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	gap: 24px;
	border-radius: 12px;
	background: rgba(247, 246, 242, 1);
	padding: 80px 40px;
	margin-bottom: 100px;
}

.tnk-btn {
	max-width: max-content;
	margin: 0 auto;
}

.thanks h2 {
	color: rgba(0, 25, 49, 1);
	font-style: Bold;
	font-size: 40px;
	font-weight: 700;
	line-height: 48px;
	letter-spacing: 0%;
	text-align: center;
	text-transform: capitalize;
}

.thanks p {
	color: #627382;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0%;
	text-align: center;
}

footer {
	background-color: rgba(0, 25, 49, 1);
	width: 100%;
}

.footer-conterner {
	padding-top: 120px;
	padding-bottom: 30px;
	text-align: center;
	display: flex;
	flex-direction: column;
}

.foot-baner {
	margin-bottom: 120px;
}

small {
	display: block;
	text-align: center;
	color: rgba(250, 250, 250, 1);
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0%;
	display: block;
	margin: 0 auto;
}
.foot-social {
	display: flex;
	flex-direction: column;
	gap: 10px;
	align-items: start;
	color: #fbfbfb;
}

.foot-site {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
