* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
img {
	max-width: 100%;
}

a {
	text-decoration: none;
}

ul li {
	list-style: none;
}

.nav-btn {
	width: 15%;
	display: flex;
	justify-content: right;
}

.btn {
	background-color: #30b868;
	border-radius: 4px;
	padding: 12px 16px;
	font-style: Semi Bold;
	font-size: 16px;
	font-weight: 600;
	line-height: 19px;
	letter-spacing: 0%;
	text-align: center;
	color: rgba(255, 255, 255, 1);
	border: 2px solid transparent;
}
.btn:hover {
	background-color: white;
	color: #30b868;
	border: 2px solid #30b868;
}

.logo {
	width: 139px;
}
.navbar {
	padding: 16px 120px;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav-item ul {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 32px;
}

.nav-link {
	color: black;
}

.nav-item li:hover .nav-link {
	color: #30b868;
}

.hero {
	background-image: linear-gradient(#001931cc),
		url("./assets/images/heroImage.jpg");
	padding: 70px 134px 120px;
	text-align: center;
	background-repeat: no-repeat;
	background-position: top;
	background-size: cover;

	color: rgba(255, 255, 255, 1);
}

.hero-container {
	display: flex;
	flex-direction: column;
	gap: 16;
}

.tooltip {
	padding: 8px 12px;
	background-color: rgba(255, 255, 255, 1);
	width: max-content;
	display: block;
	margin: 0 auto;
	border-radius: 1000px;
	color: rgba(70, 145, 101, 1);
	font-style: Medium;
	font-size: 16px;
	font-weight: 500;
	line-height: 19px;
	letter-spacing: 0%;
	margin-bottom: 20px;
}

.hero-hading {
	color: white;
	font-style: Bold;
	font-size: 72px;
	font-weight: 700;
	line-height: 84px;
	letter-spacing: 0%;
	text-align: center;
	text-transform: capitalize;
	margin-bottom: 10px;
}

.hero-hading span {
	color: #30b868;
	display: block;
}
.hero-hading p {
	font-style: Regular;
	font-size: 18px;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0%;
	text-align: center;
}

.hero-btn {
	display: flex;
	justify-content: center;
	gap: 16px;
	margin-top: 20px;
}

.hero-btn-item-1 {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

.hero-btn-item-2 {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	background-color: transparent;
	border: 2px solid rgba(255, 255, 255, 1);
}
.hero-btn-item-1 img,
.hero-btn-item-2 img {
	width: 20px;
	height: 20px;
}

.hero-btn-item-2:hover img {
	background-color: #30b868;
	padding: 2px;
	border-radius: 100%;
}

.hero-btn-item-1:hover img {
	background-color: #30b868;
	padding: 2px;
	border-radius: 100%;
}
