* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
img {
	max-width: 100%;
}

a {
	text-decoration: none;
}

ul li {
	list-style: none;
}

.btn {
	background-color: #30b868;
	border-radius: 4px;
	padding: 12px 16px;
	text-align: center;
	color: white;
	border: none;
}

.logo {
	width: 139px;
}
.navbar {
	padding: 16px 120px;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav-item ul {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 32px;
}

.nav-link {
	color: black;
}
