* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
img {
	max-width: 100%;
}

a {
	text-decoration: none;
}

ul li {
	list-style: none;
}

.nav-btn {
	width: 15%;
	display: flex;
	justify-content: right;
}

.btn {
	background-color: #30b868;
	border-radius: 4px;
	padding: 12px 16px;
	font-style: Semi Bold;
	font-size: 16px;
	font-weight: 600;
	line-height: 19px;
	letter-spacing: 0%;
	text-align: center;
	color: rgba(255, 255, 255, 1);
	border: none;
}
.btn:hover {
	background-color: white;
	color: #30b868;
	border: 2px solid #30b868;
}

.logo {
	width: 139px;
}
.navbar {
	padding: 16px 120px;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav-item ul {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 32px;
}

.nav-link {
	color: black;
}

.hero {
	background-image: linear-gradient(#001931cc),
		url("./assets/images/heroImage.jpg");
	padding: 100px 120px;
	text-align: center;
}

.tooltip {
	padding: 8px 12px;
	background-color: rgba(255, 255, 255, 1);
	width: max-content;
	display: block;
	margin: 0 auto;
	border-radius: 1000px;
	color: rgba(70, 145, 101, 1);
	font-family: Inter;
	font-style: Medium;
	font-size: 16px;
	font-weight: 500;
	line-height: 19px;
	letter-spacing: 0%;
}
